.city-search {
  margin-bottom: 1rem;

  header h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .form-group {
    display: flex;
    flex-direction: column;

    label {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }

    input.input {
      padding: 0.5rem;
      font-size: 1rem;
    }
  }
}